name: build and deploy

on:
  push:
    branches: [main]
    paths: .github/workflows/main.yml
  pull_request:
    branches:  none
  workflow_dispatch:

jobs:
  build-deploy-aks:
    runs-on: ubuntu-latest
    env:
      DOCKER_REPOSITORY: venky2821 # name of Docker Hub ID
      IMAGE_NAME: kubernetesimage
      IMAGE_TAG: ${{ github.run_number }} # $GITHUB_RUN_NUMBER
      CLUSTER_NAME: kubernetes-admin@kubernetes
      RESOURSE_GROUP: venkatesh-rg

    steps:
    - name: Git Checkout
      uses: actions/checkout@v2
  
    - name: Build Docker Image
      run: |
        docker build myapp -t $DOCKER_REPOSITORY/$IMAGE_NAME:$GITHUB_RUN_NUMBER

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD_VENKY }}" | docker login -u $DOCKER_REPOSITORY --password-stdin
  
    - name: Push Image to Docker Hub
      run: |
        docker push $DOCKER_REPOSITORY/$IMAGE_NAME:$GITHUB_RUN_NUMBER
           
    - name: Deploy to Kubernetes
      uses: azure/k8s-deploy@v1
      with:
        manifests: |
         myapp/dep.yaml
        kubeconfig: ${{ secrets.KUBE_CONFIG }}
